/* Utility Classes */
/* This file contains utility classes for layout and spacing. */

.container {
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
}

.content-narrow {
    max-width: 80%;
    position: relative;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .content-narrow {
        max-width: 100%;
    }   
    
}

.container-flex {
    height: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0px 80px 0px;
}

.container-flex.room-for-menu {
    margin: 20px 20px 20px 250px;
}

@media screen and (max-width: 600px) {
    .container-flex.room-for-menu {
        margin: 20px;
    }
}

.container-no-flex {
    padding: 20px;
}

.content-box {
    background-color: var(--hover-color);
    border-radius: 8px;
    border: 3px solid black;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    text-align: center;
}

.box-header {
    background-color: var(--secondary-color);
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.float-left {
    float: left;
}



