.site-footer {
    position: fixed;
    bottom: 0;
    
    background-color: var(--primary-color);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box.footer-button {
    border: 3px solid var(--secondary-color);
}


