.site-footer {
    position: fixed;
    bottom: 0;
    
    background-color: var(--secondary-color);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
    z-index: 1000;
}

.social {
    color: var(--hover-color);
    font-size: 2rem;
    margin: 0 10px;
}

.social:hover {
    color: var(--tertiary-color);
}

@media (max-width: 600px) {
    footer .footer-button {
        font-size: clamp(1rem, calc(0.25rem + 0.5vw), 1rem);
        padding: 10px;
        margin: 5px;
    }

    .social {
        font-size: 1.5rem;
        margin: 0 5px;
    }

}


