.site-footer {
    position: fixed;
    bottom: 0;
    
    background-color: var(--secondary-color);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
}

.content-box.footer-button {
    border: 3px solid var(--hover-color);
    font-size: 0.5rem;
}

.social {
    color: var(--hover-color);
    font-size: 2rem;
    margin: 0 10px;
}

.social:hover {
    color: var(--tertiary-color);
}


