.tour-title {
    font-size: clamp(1rem, calc(1.5rem + 1vw), 3rem);
    color: var(--secondary-color);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

.tour-subtitle {
    font-size: clamp(1rem, calc(1.25rem + 0.5vw), 2.5rem);
    color: var(--secondary-color);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

.tour-header {
    font-size: clamp(1rem, calc(1.5rem + 1vw), 3rem);
    background-color: var(--secondary-color);
}

.tour-dates {
    display: flex;
    flex-basis: 500px;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.performance-container {
    width: clamp(300px, 100%, 800px);
}

.content-box.festival-info {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    border: solid black 3px;
    margin: 20px;
}

.performance-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--secondary-color);
    border: 3px solid black;
}

.performance-entry:hover {
    background-color: var(--performance-hover-color);
    /* transition: background-color 0.1s ease-in-out; */
}

@media screen and (max-width: 600px) {
    .performance-entry {
        flex-direction: column;
    }
}

.performance-date {
    display: block;
}

@media screen and (max-width: 600px) {
    .performance-date {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.date, .venue {
    font-size: clamp(1rem, calc(0.5rem + 1vw), 2rem);
    font-weight: bold;
}

.time {
    font-size: clamp(1rem, calc(0.5rem + 0.9vw), 1.75rem);
    font-weight: normal;
}




.poster-image {
    width: clamp(200px, 20vw, 400px);
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.8);
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.video-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;  
}

iframe {
    vertical-align: bottom;
}

/* iframe {
    width: 100%;
    height: clamp(300px, 30vw, 600px);
} */

.mailing-list-button {
    margin: 20px auto 0 auto;
}

/* Signup Overlay Styles */

#close-button {
    cursor: pointer;
}

.signup-content {
    position: fixed;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 800px) {
  .signup-content {
    width: 90%;
  }
}

h2.mail-text {
    font-size: clamp(1rem, calc(1.25rem + 0.5vw), 2rem);
    text-align: center;
    margin: 10px;
}

.signup-overlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  z-index: 1000; /* Ensure it's on top */
}

.icon {
    color: var(--hover-color);
    font-size: 2rem;
    margin: 0 10px;
}

.icon:hover {
    color: var(--tertiary-color);
}

#mailing-list-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}


/* Form Styles */

.popup-form-element {
    display: flex;
    width: 80%;
    flex-direction: column;
    font-size: clamp(1rem, calc(0.25rem + 1.25vw), 2rem);
    text-align: left;
    margin: 5px;
}

.popup-form-element input[type="text"] {
    font-size: clamp(1rem, calc(0.25rem + 1.25vw), 2rem);
    font-family: "mr-eaves-sans", sans-serif;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    border: 2px solid black;
}

.popup-form-element input[type="email"] {
    font-size: clamp(1rem, calc(0.25rem + 1.25vw), 2rem);
    font-family: "mr-eaves-sans", sans-serif;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    border: 2px solid black;
}
