
.page-contents {
    width: 100%;
}

.the-content {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 8px;
    border: solid black 3px;

}

.the-content p {
    text-align: center;
    font-size: clamp(1rem, calc(1.25rem + 1.75vw), 3rem);
}