.time-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;;
   
    margin: 20px;
}

@media screen and (max-width: 600px) {
    .time-block {
        flex-direction: column;
        align-items: center;
    }
}

.time-block:nth-child(odd) {
    --block-primary: var(--hover-color);
    --block-secondary: var(--secondary-color);
    --block-text: black;
    --shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.time-block:nth-child(even) {
    --block-primary: var(--secondary-color);
    --block-secondary: var(--hover-color);
    --block-text: var(--secondary-color);
    --shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.year {
    flex: 0 0 60px;
    font-size: clamp(3rem, calc(1.5rem + 2vw), 4rem);
    font-family:"Carton Six Regular", sans-serif;
    text-align: center;
    padding: 5px 20px;
    margin: 0;
    background-color: var(--block-secondary);
    border-radius: 8px 0 0 8px;
    color: var(--block-text);
}

@media screen and (max-width: 600px) {
    .year {
        border-radius: 8px 8px 0 0;
    }
}

.event {
    flex: 1;
    background-color: var(--block-primary);
    border: 3px solid black;
    border-radius: 8px;
    color: var(--block-secondary);
}

.event-title {
    font-size: clamp(1.5rem, calc(0.5rem + 1.75vw), 3rem);
    margin: 10px;
    text-align: center;
    text-shadow: var(--shadow);
}

.event-description-and-image {
    display: flex;
    align-items: center;
    margin: 10px;
}

@media screen and (max-width: 600px) {
    .event-description-and-image {
        flex-direction: column;
        align-items: center;
    }
}

.event-image {
    max-width: 300px;
    max-height: 200px;
    object-fit: cover;
    flex: 1;
    object-position: 0% 10%;
    border: 3px solid var(--block-secondary);
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
    .event-image {
        max-height: 200px;
        object-position: 35% 20%;
    }
}

.event-description {
    color: var(--block-text);
    font-family: "mr-eaves-sans", sans-serif;
    font-size: clamp(1rem, calc(0.25rem + 1.25vw), 2rem);
    background-color: var(--block-secondary);
    border-radius: 8px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
}